.btn-primary {
  background-color: #2d9b45;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #1f6e30;
  border-color: transparent;
}

.btn-primary:active {
  background: #1f6e30 !important; 
 }

.btn-primary:focus {
  background: #2d9b45;
}

.btn-info {
  background-color: #2d9b45;
  border-color: transparent;
}

.btn-info:hover {
  background-color: #1f6e30;
  border-color: transparent;
}

.btn-info:active {
  background: #1f6e30 !important; 
 }

.btn-info:focus {
  background: #2d9b45;
}

.btn:disabled,
.btn[disabled],
.btn[disabled]:hover{
  background-color: #2d9b45;
  border-color: transparent;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 0px;
  margin-left: 10px;
  padding-right: 10px;
  width: auto;
  float: left;
}

.navbar-text {
  margin-top: 5px;
  margin-bottom: 0px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  overflow: hidden;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

p {
  margin-left: 10px;
}

.login-button{
	margin-top: 15px;
}

.register-button{
	margin-top: 15px;
}

.login-register{
	font-size: 13px;
	text-align: center;
}

div.form-group{
  margin-bottom: 23px;
}

div.has-error{
  margin-bottom: -8px;
} 

.page-header{
  text-align: center;    
}

.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin-bottom: 0;
  padding: 20px;
}
.bs-callout:last-child {
  margin-bottom: 0px;
}
.bs-callout h4 {
  margin-bottom: 10px;
  margin-top: 0;
}

.bs-callout-danger {
  border-left-color: #2d9b45;
}

.bs-callout-danger h4{
  color: #2d9b45;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

.panel-heading {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#myBtn {
  display: none;
  position: fixed;
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 10px;
  bottom: 150px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20%;
}